
.weatherdetails {
  position: absolute;
 color: gray;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.icons {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-top: 20px;
}

.wea{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weat {
  width: 100%;
  height: 100%;
}

.temp {
  font-size: 70px;
  font-weight: bold;
}

.weatherdetails1 {
  font-size: 50px;
  position: relative;
  width: 600px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.weatherdetails1:hover {
  background-color: rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
  transition: all 0.3s ease-in-out;
}

.weatherdetails1 p {
  margin: 5px;
  font-size: 70px;
  font-weight: bold;
}

#p1,#p2,#p3{
  font-size: 20px;
}

.weatherdetails1 div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 50px;
}

.weatherdetails1 div p {
  margin: 0;
  font-size: 16px;
  font-weight: normal;
}


/* Media Queries */


@media screen and (max-width: 375px) {

  

  .weatherdetails1 p {
    margin: 5px;
    font-size: 40px;
    font-weight: bold;
  }
  .weatherdetails {
    padding: 1 rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .temp {
    font-size: 30px;
    transform: rotate(-90deg)
  }

  .icons {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 10px;
  }

  .weatherdetails1 {
    width: 350px;
    margin-left: 0;
    margin-top: 10px;
  }
}

@media (min-width: 376px) and (max-width: 768px) {
  .temp{
    font-size: 30px;
  }
  .weat{
    width: 118px;
    height: 100%;
  }
  .weatherdetails1 p{
    font-size: 40px;
  }
  .weatherdetails1:hover {
    background-color: rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
  }

  .weatherdetails {
    margin: -30px 27px 32px -23px;
  }

  .weatherdetails1 {
    width: 500px;
    margin-left: 0;
    margin-top: 10px;
  }
}



@media (min-width: 769px) and (max-width: 1024px) {

 .temp{
  font-size: 50px;
 }
  .weatherdetails1:hover {
    background-color: rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
  }
  .weatherdetails1{
    width: 600px;
    margin-left: 10px;
    padding: 10px;

  }
  .weatherdetails {
    margin: 100px 27px 32px -23px;
  }

  .icons {
    flex-direction: row;
  }

  .weatherdetails1 {
    margin-left: 0;
    margin-top: 10px;
  }
  .weatherdetails div p {
    font-size: 24px;
  }
}

