.weatherdetails {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.icons {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  left: 0;
}

.weat {
  width: 100px;
  height: 100px;
}

.temp {
  font-size: 40px;
  font-weight: bold;
}

.weatherdetails1 {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.weatherdetails1:hover {
  background-color: rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
  transition: all 0.3s ease-in-out;
}

.weatherdetails1 p {
  margin: 5px;
  font-size: 20px;
  font-weight: bold;
}

.weatherdetails1 div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}

.weatherdetails1 div p {
  margin: 0;
  font-size: 16px;
  font-weight: normal;
}

/* Media Queries */

@media screen and (min-width: 768px) {
  .weatherdetails1:hover {
    background-color: rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
  }
  
  .weatherdetails {
    margin: 10px;
  }

  .icons {
    position: static;
    flex-direction: row;
  }

  .weatherdetails1 {
    margin-left: 0;
    margin-top: 10px;
  }
}

@media screen and (min-width: 375px) {
  .weatherdetails1:hover {
    background-color: rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
  }
  .weatherdetails {
    margin: 15px;
  }

  .temp {
    font-size: 20px;
  }

  .weatherdetails p {
    font-size: 16px;
  }

  .weatherdetails div p {
    font-size: 14px;
  }
  .icons {
    position: static;
    flex-direction: row;
  }

  .weatherdetails1 {
    margin-left: 0;
    margin-top: 10px;
  }
}

@media screen and (min-width: 1024px) {
  .weatherdetails1:hover {
    background-color: rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
  }
  .weatherdetails1{
    margin-left: 10px;
    padding: 10px;

  }
  .weatherdetails {
    margin: 10px;
  }

  .icons {
    position: static;
    flex-direction: row;
  }

  .weatherdetails1 {
    margin-left: 0;
    margin-top: 10px;
  }
  .weatherdetails div p {
    font-size: 24px;
  }
}

