
.weatherdetails {
  position: absolute;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 max-width: 500px;
 max-height: 90vh;
 margin: auto;
 padding: 24px;
 color: gray;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.icons {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 12px;
}

.wea{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weat {
  width: 100%;
  height: 100%;
}

.temp {
  font-size: 200px;
  font-weight: bold;
}

.weatherdetails1 {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.weatherdetails1:hover {
  background-color: rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
  transition: all 0.3s ease-in-out;
}

.weatherdetails1 p {
  margin: 5px;
  font-size: 20px;
  font-weight: bold;
}

.weatherdetails1 div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}

.weatherdetails1 div p {
  margin: 0;
  font-size: 16px;
  font-weight: normal;
}


/* Media Queries */


@media screen and (min-width: 375px) {


  .weatherdetails {
    max-width: 700px;
    height: 700px;
    margin: auto;
    padding: 0 1rem;
    position: relative;
    top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .temp {
    font-size: 20px;
  }

  .weatherdetails p {
    font-size: 16px;
  }

  .weatherdetails div p {
    font-size: 14px;
  }
  .icons {
    position: static;
    flex-direction: row;
  }

  .weatherdetails1 {
    margin-left: 0;
    margin-top: 10px;
  }
}

@media (min-width: 376px) and (max-width: 768px) {
  .weatherdetails1:hover {
    background-color: rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
  }
  
  .weatherdetails {
    margin: 10px;
  }

  .icons {
    position: static;
    flex-direction: row;
  }

  .weatherdetails1 {
    margin-left: 0;
    margin-top: 10px;
  }
}



@media (min-width: 769px) and (max-width: 1024px) {
  .weatherdetails1:hover {
    background-color: rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
  }
  .weatherdetails1{
    margin-left: 10px;
    padding: 10px;

  }
  .weatherdetails {
    margin: 10px;
  }

  .icons {
    position: static;
    flex-direction: row;
  }

  .weatherdetails1 {
    margin-left: 0;
    margin-top: 10px;
  }
  .weatherdetails div p {
    font-size: 24px;
  }
}

