
.search {
  position: absolute;
  padding: 10px;
  text-align: center;
  background-color: transparent;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;

}
.search1 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: auto;
}

input {
  width: 231px;
  border: none;
  background: transparent;
  font-size: 27px;
}

button {
  background-color: transparent;
  border: none;
}

.search-input {
  border: 1px solid transparent;
  border-radius: 20px;
  padding: 10px;

}

/* Responsive Styles */
/* App.css */

/* Mobile Styles (375px) */
@media (max-width: 375px) {
  .wbg video {
    width: 100%;
    height: auto;
  }

  .search {
    padding: 10px;
    text-align: center;
  }

  .search1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .search1 input {
    margin-bottom: 10px;
    width: 100%;
    padding: 5px;
    font-size: 16px;
  }

  .search1 button {
    width: 100%;
  }
}

/* Tablet Styles (768px) */
@media (min-width: 376px) and (max-width: 768px) {
  .wbg video {
    width: 100%;
    height: auto;
  }

  .search {
    padding: 20px;
    text-align: center;
  }

  .search1 {
    display: flex;
    justify-content: center;
  }

  .search1 input {
    margin-right: 10px;
    padding: 10px;
    font-size: 18px;
  }

  .search1 button {
    padding: 10px;
  }
}

/* Desktop Styles (1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
  .wbg video {
    width: 100%;
    height: auto;
  }

  .search {
    padding: 40px;
    text-align: center;
  }

  .search1 {
    display: flex;
    justify-content: center;
  }

  .search1 input {
    margin-right: 10px;
    padding: 15px;
    font-size: 20px;
  }

  .search1 button {
    padding: 15px;
  }
}
