body {
  margin: 0;
}


.search1{
  display: flex;
  justify-content: space-around;
position: absolute;
top: 0;
left: 0;
right: 0;
}

.search{
  border: 4px solid gray;
  border-radius: 25px;
  width: 1000px;
  background-color: transparent;
}
.search:hover {
  border-color: #555;

}
input{
 border-radius: none;
 border: none;
 background-color: transparent;
 color: black;
 outline: none;
 font-size: 40px;
}
.search input:focus {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
button{
  display: flex;
  float: right;
  background-color: transparent;
  border: none;
}
img{
  width: 100%;

}
video{
  width: 100%;
}



@media only screen and (max-width: 375px){

  .search1{
    display: flex;
    justify-content: space-around;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  }
  input{
    border-radius: none;
    border: none;
    background-color: transparent;
    color: black;
    outline: none;
    font-size: 25px;
   }
   button{
    width: 37px;
   }
.search{
  border: 4px solid gray;
  border-radius: 25px;
  width: 360px;
  background-color: transparent;
}

  img {
    width: 100%;
    height: 100vh;
  }

} 


/* Tablet Styles (768px) */
@media only screen and (max-width: 768px) {
  input{
    border-radius: none;
    border: none;
    background-color: transparent;
    color: black;
    outline: none;
    font-size: 20px;
   }
  .search{
    width: 300px;
  }
 button{
  width: 35px;
 }
  img{
    width: 100%;
    height: 100vh;
  }
  #myVideo {
    width: 100%;
    height: auto;
  }
  .search1 {
      display: flex;
      justify-content: space-around;
    
  }

}

/* Desktop Styles (1024px) */
@media only screen and (min-width: 1024px) {
  input{
    border-radius: none;
    border: none;
    background-color: transparent;
    color: black;
    outline: none;
    font-size: 30px;
   }
  .search{
    width: 500px;
  }
  img{
    width: 100%;
    height: 100vh;
  }
  #myVideo {
    width: 100%;
    height: auto;
  }

  .search1 {
    display: flex;
    justify-content: center;
  }
}
